<!-- SVG diagram for reverse calculator -->
<div class="pure-img">
    <svg width="200" height="225">
        <title>Diagram of bore and gages for reverse calculator</title>
        <circle r="98" cx="100" cy="125" stroke="#191d32" stroke-width="2" fill="none"></circle>
        <circle r="{{ circles[0]['r'] * 97 }}" cx="{{ circles[0]['x'] * 200 }}" cy="{{ circles[0]['y'] * 200 + 25 }}" stroke="#191d32" stroke-width="2" fill="#B6C2D9"></circle>
        <circle r="{{ circles[1]['r'] * 97 }}" cx="{{ circles[1]['x'] * 200 }}" cy="{{ circles[1]['y'] * 200 + 25 }}" stroke="#191d32" stroke-width="2" fill="#B6C2D9"></circle>
        <circle r="{{ circles[2]['r'] * 97 }}" cx="{{ circles[2]['x'] * 200 }}" cy="{{ circles[2]['y'] * 200 + 25 }}" stroke="#ffac00" stroke-width="2" stroke-dasharray="8 3" fill="none"></circle>
        {% if messages %}
            <line x1="{{ (circles[2]['x'] * 200) - circles[2]['r'] * 97 }}" y1="{{ circles[2]['y'] * 200 + 25 }}" x2="35" y2="0" stroke="#ffac00" stroke-width="2"></line>
        {% endif %}
    </svg>
</div>