<!-- SVG diagram for pin size calculator -->
<div class="pure-img">
    <svg width="200" height="225">
        <title>Diagram of pin gage for gage size calculator</title>
        <circle r="95" cx="100" cy="125" stroke="#ffac00" stroke-width="3" stroke-dasharray="8 3" fill="none"></circle>
        <circle r="85" cx="100" cy="125" stroke="#191d32" stroke-width="2" fill="#B6C2D9"></circle>
        <circle r="75" cx="100" cy="125" stroke="#ffac00" stroke-width="3" stroke-dasharray="8 3" fill="none"></circle>
        {% if messages %}
            <line x1="35" y1="90" x2="35" y2="0" stroke="#ffac00" stroke-width="2"></line>
            <line x1="5" y1="115" x2="5" y2="0" stroke="#ffac00" stroke-width="2"></line>
        {% endif %}
    </svg>
</div>
