<!-- SVG diagram for three pin calculator -->
<div class="pure-img">
    <svg width="200" height="225">
        <title>Diagram of bore and gages for three pin calculator</title>
        <circle r="95" cx="100" cy="125" stroke="#ffac00" stroke-width="2" stroke-dasharray="8 3" fill="none"></circle>
        <circle r="42.5" cx="100" cy="177.5" stroke="#191d32" stroke-width="2" fill="#B6C2D9"></circle>
        <circle r="49" cx="131.7" cy="91.67" stroke="#191d32" stroke-width="2" fill="#B6C2D9"></circle>
        <circle r="40" cx="45.875" cy="115.234" stroke="#191d32" stroke-width="2"  fill="#B6C2D9"></circle>
        {% if messages %}
            <line x1="35" y1="54" x2="35" y2="0" stroke="#ffac00" stroke-width="2"></line>
        {% endif %}
    </svg>
</div>



