/* Custom styles to extend purecss for hole-calc*/

.button-calculate {
    /* Button for calculation actions */
    background: rgb(28, 184, 65);
}

.button-error {
    /* Button for calculation actions */
    background: rgb(202, 60, 60);
}

.tol-params {
    display: none;
}

.result-error {
    color: rgb(202, 60, 60)
}

.header h1 {
    font-family: spaceg, sans-serif;
    font-weight: 700;
}

.pure-menu-heading, .pure-menu-link {
    font-family: spaceg, sans-serif;
}

/* Space Grotesk font family */
@font-face {
    font-family: "spaceg";
    src: url("/static/fonts/SpaceGrotesk-Regular.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "spaceg";
    src: url("/static/fonts/SpaceGrotesk-Bold.woff2") format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "spaceg";
    src: url("/static/fonts/SpaceGrotesk-Light.woff2") format('woff2');
    font-weight: 200;
}