/*
define color scheme with variables
*/
:root {
    --button-go: rgb(28, 184, 65);
    --dark-text: #0d0f1a;
    --dark-accent: #191d32;
    --mid-accent: #4D7EA8;
    --light-accent: #B6C2D9;
    --light-text: #f0f0f0;
    --error-accent: #BA2C73;
    --attn-accent: #FFC857;
}

/*
Add Space Grotesk font family
*/
@font-face {
    font-family: "spaceg";
    src: url("/static/fonts/SpaceGrotesk-Regular.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "spaceg";
    src: url("/static/fonts/SpaceGrotesk-Bold.woff2") format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "spaceg";
    src: url("/static/fonts/SpaceGrotesk-Light.woff2") format('woff2');
    font-weight: 200;
}

/*
set body text and bg colors
*/
body {
    color: var(--dark-text);
    background: var(--light-text);
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


/*
The content `<div>` is where all your content goes.
*/
.content {
    padding: 0 2em;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: var(--dark-accent);
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: var(--dark-accent);
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: var(--dark-accent);
}


/* Styles for menu at top of page */

.home-menu {
    padding: 0.25em;
    text-align: center;
    background: var(--dark-accent);
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: var(--light-accent);
    font-weight: 700;
    font-family: spaceg, sans-serif;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: var(--light-accent);
}

.home-menu a {
    color: var(--light-accent);
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: var(--light-text);
}

/* Custom classes used by holecalc */
.button-calculate {
    /* Button for calculation actions */
    background: var(--button-go)
}

.button-error {
    /* Button for calculation actions */
    background: var(--error-accent);
}

.tol-params {
    display: none;
}

.result-error {
    color: var(--error-accent)
}

.home-menu {
    background: var(--dark-accent);
}

/* Media query to responsively shift alignment of menu items and header */
@media (min-width: 48em) {

    .home-menu {
        text-align: left;
    }

    .home-menu ul {
        float: right;
    }
}
