/*
define color scheme with variables
*/
:root {
    --button-go: rgb(28, 184, 65);
    --dark-text: #0d0f1a;
    --dark-accent: #191d32;
    --mid-accent: #4D7EA8;
    --light-accent: #B6C2D9;
    --light-text: #f0f0f0;
    --error-accent: #BA2C73;
    --attn-accent: #FFC857;
}

/*
Add Space Grotesk font
*/
@font-face {
    font-family: "spaceg";
    src: url('/static/fonts/SpaceGrotesk[wght].woff2') format('woff2 supports variations'),
    url('/static/fonts/SpaceGrotesk[wght].woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-display: swap;
}

/*
set body text and bg colors
*/
body {
    color: var(--dark-text);
    background: var(--light-text);
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


/*
The content `<div>` is where all your content goes.
*/
.content {
    padding: 0 2em;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 1.6em;
}

.header {
    margin: 0;
    color: var(--dark-accent);
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 400;
}

.header h2 {
    font-weight: 400;
    color: var(--dark-accent);
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 400;
    color: var(--dark-accent);
    font-family: spaceg, sans-serif;
}

.pure-form legend {
    font-weight: 400;
    font-size: 1.5em;
    color: var(--dark-accent);
    font-family: spaceg, sans-serif;
}

tr {
    background: #fff;
}

/* Styles for menu at top of page */

.home-menu {
    padding: 0.25em;
    font-family: spaceg, sans-serif;
    text-align: center;
    background: var(--dark-accent);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: var(--light-accent);
    font-weight: 700;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: var(--light-accent);
}

.home-menu a {
    color: var(--light-accent);
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: var(--light-text);
}

/* button and input styling */

.pure-button-primary {
    /* Button for calculation actions */
    background: var(--attn-accent);
    color: var(--dark-text);
    border: 1px solid var(--dark-accent);
}

.button-error {
    /* Button for calculation actions */
    background: var(--error-accent);
}

.tol-params {
    display: none;
}

.result-error {
    color: var(--error-accent)
}

.home-menu {
    background: var(--dark-accent);
}

/* Media query to responsively shift alignment of menu items and header */
@media (min-width: 48em) {

    .home-menu {
        text-align: left;
    }

    .home-menu ul {
        float: right;
    }
}

/* Loading animation, from https://vineethtrv.github.io/loader/ */
.loader {
    width: 25px;
    height: 25px;
    border: 3px solid;
    border-color: var(--attn-accent) transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    vertical-align: middle;
    visibility: hidden;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}