{% extends "layout.html" %}
{% block content %}

    <div id="main">
        <div class="header">
            <h1>hole calc</h1>
            <h2>A bore measurement calculator for machinists</h2>
        </div>

        <div class="content">
            <div class="pure-g">
                <div class="pure-u-1">
                    <h2>Three pin hole measurement</h2>
                    <p>Determine the minimum diameter of a hole using the diameters of three pins that fit
                        into it. Not sure how to use this calculator? <a href="/guide.html">Read the guide</a></p>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <form class="pure-form pure-form-stacked" method="post">
                        <fieldset>
                            <div class="pure-g">
                                <div class="pure-u-7-8">
                                    <label for=nominal-radio" class="pure-radio">
                                        <input type="radio" id="nominal-radio" name="tolRadios" value="nominal" checked=""/> Nominal</label>
                                    <label for=tol-radio" class="pure-radio">
                                        <input type="radio" id="tol-radio" name="tolRadios" value="toleranced"/> Toleranced</label>
                                </div>
                                <div class="pure-u-7-8">
                                    <label for="pin-1">Pin 1</label>
                                    <input type="number" step="0.0001" min="0" id="pin-1" name="pin1"
                                           class="pure-u-23-24"
                                           required="" value="{{ input_pins[0] }}"/>
                                </div>
                                <div class="pure-u-7-8">
                                    <label for="pin-2">Pin 2</label>
                                    <input type="number" step="0.0001" min="0" id="pin-2" name="pin2"
                                           class="pure-u-23-24"
                                           required="" value="{{ input_pins[1] }}"/>
                                </div>
                                <div class="pure-u-7-8">
                                    <label for="pin-3">Pin 3</label>
                                    <input type="number" step="0.0001" min="0" id="pin-3" name="pin3"
                                           class="pure-u-23-24"
                                           required="" value="{{ input_pins[2] }}"/>
                                </div>
                                <div class="pure-u-1">
                                    <label for="units">Units</label>
                                    <select id="units" class="pure-input-1-2" name="units">
                                        <option {% if units == "IN" %}selected{% endif %}>IN</option>
                                        <option {% if units == "MM" %}selected{% endif %}>MM</option>
                                    </select>
                                </div>
                                <div class="pure-u-1">
                                    <label for="precision">Precision</label>
                                    <select id="precision" class="pure-input-1-2" name="precision">
                                        <option {% if precision == "0.1" %}selected{% endif %} >0.1</option>
                                        <option {% if precision == "0.01" %}selected{% endif %}>0.01</option>
                                        <option {% if precision == "0.001" %}selected{% endif %}>0.001</option>
                                        <option {% if precision == "0.0001" %}selected{% endif %}>0.0001</option>
                                    </select>
                                </div>
                                <div class="pure-u-1">
                                    <button type="submit" class="pure-button pure-button-primary button-calculate">Calculate</button>
                                    <button type="reset" class="pure-button pure-button-primary">Clear</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="pure-u-1 pure-u-md-2-3">
                    <div class="pure-u-1">
                        <h2>Result:</h2>
                        <h3>{{ result }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}