{% extends "layout.html" %}
{% block content %}


    <div id="main">
        <div class="content">
            <h2 class="content-subhead">About hole calc</h2>
            <p>
                Hole calc is open source software. Bug reports, feature requests and code contributions are welcome.
            </p>
            <p>
                <a href="https://github.com/rouyng/hole-calc">Visit the GitHub repository</a> for more information or to get in touch. You can also <span id="obf"><script>document.getElementById("obf").innerHTML="<n uers=\"znvygb:efflbhat@tznvy.pbz?fhowrpg=ubyr pnyp\" gnetrg=\"_oynax\">rznvy zr.</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});document.body.appendChild(eo);</script>
<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">moc.liamg@gnuoyssr</span></noscript></span>
            </p>
            <h2 class="content-subhead">Credits</h2>
            <p>
                Thanks to the <a href="https://www.practicalmachinist.com/vb/">Practical Machinist forum</a> community for inspiration.
            </p>
            <p>
                This project was built with the <a href="https://flask.palletsprojects.com/">Flask</a> web application microframework. It uses <a href="https://purecss.io/">Pure.css</a> for layout and styling. The typeface used in the menu and headings is <a href="https://fonts.floriankarsten.com/space-grotesk">Space Grotesk</a>.
            </p>
        </div>
    </div>
{% endblock content%}