{% extends "layout.html" %}
{% block content %}


    <div id="main">
        <div class="header">
            <h1>About hole-calc</h1>
        </div>

        <div class="content">
            <h2 class="content-subhead">Developer Info</h2>
            <p>
                Hole-calc is open source software. Bug reports, feature requests and code contributions are welcome. <a href="https://github.com/rouyng/hole-calc">Visit us on GitHub </a> for more information.
            </p>
        </div>
    </div>
{% endblock content%}