{% extends "layout.html" %}
{% block content %}


    <div id="main">
        <div class="content">
            <h2 class="content-subhead">About hole calc</h2>
            <p>
                Hole calc is open source software. Bug reports, feature requests and code contributions are welcome.
            </p>
            <p>
                <a href="https://github.com/rouyng/hole-calc">Visit the GitHub repository</a> for more information.
            </p>
            <h2 class="content-subhead">Credits</h2>
            <p>
                Thanks to the <a href="https://www.practicalmachinist.com/vb/">Practical Machinist forum</a> community for inspiration.
            </p>
            <p>
                This project was built with the <a href="https://flask.palletsprojects.com/">Flask</a> web application microframework. It uses <a href="https://purecss.io/">Pure.css</a> for layout and styling. The typeface used in the menu and headings is <a href="https://fonts.floriankarsten.com/space-grotesk">Space Grotesk</a>.
            </p>
        </div>
    </div>
{% endblock content%}