{% extends "layout.html" %}
{% block content %}

    <div id="main">
        <div class="header">
            <h1>hole calc</h1>
            <h2>A hole size calculator for machinists</h2>
        </div>

        <div class="content">

            <form class="pure-form pure-form-stacked" method="post">
                <fieldset>
                    <legend>Not sure how to use this calculator? <a href="/about.html">Read the guide</a></legend>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-3">
                            <div class="pure-u-1 pure-u-md-1">
                                <label for="pin-1">Pin 1</label>
                                <input type="number" step="0.0001" min="0" id="pin-1" name="pin1" class="pure-u-23-24" required="" value="{{ input_pins[0] }}"/>
                            </div>
                            <div class="pure-u-1 pure-u-md-1">
                                <label for="pin-2">Pin 2</label>
                                <input type="number" step="0.0001" min="0" id="pin-2" name="pin2" class="pure-u-23-24" required="" value="{{ input_pins[1] }}"/>
                            </div>
                            <div class="pure-u-1 pure-u-md-1">
                                <label for="pin-3">Pin 3</label>
                                <input type="number" step="0.0001" min="0" id="pin-3" name="pin3" class="pure-u-23-24" required="" value="{{ input_pins[2] }}"/>
                            </div>
                            <div class="pure-u-1 pure-u-md-1">
                                <label for="units">Units</label>
                                <select id="units" class="pure-input-1-2">
                                    <option>IN</option>
                                    <option>MM</option>
                                </select>
                            </div>
                            <div class="pure-u-1 pure-u-md-1">
                                <label for="precision">Precision</label>
                                <select id="precision" class="pure-input-1-2" name="precision">
                                    <option>0.1</option>
                                    <option>0.01</option>
                                    <option selected>0.001</option>
                                    <option>0.0001</option>
                                </select>
                            </div>
                            <button type="submit" class="pure-button pure-button-primary">Calculate</button>
                            <button type="reset" class="pure-button pure-button-primary">Reset</button>
                        </div>
                        <div class="pure-u-1 pure-u-md-2-3">
                            <h2>Result: {{ result }}</h2>
                            {#    draw SVG of results    #}
                            <svg width="95%" height="95%">
                                <circle cx="50%" cy="50%" r="40%" stroke="green" stroke-width="0.1em" fill="none" />
                            </svg>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content%}